[package]
name = "shared"
version = "0.1.0"
edition = "2024"
license = "MIT"
description = "Common library for async server and tui client"


[dependencies]
thiserror = "1"
toml = "0.8"

serde = { workspace = true }
serde_json = { workspace = true }
tracing = { workspace = true }
